@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif !important;
}
:root {
  --txt-color: hsl(170 100% 50%);
  --bg-color: hsl(220 90% 2%);
  --bg-color-2: hsl(300 40% 4%);
  --underline: hsl(350 80% 60%);
  --space: 6rem;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
p, span{
  color: #373737;
}
h2,h3{
  font-size: 38px !important;
  /* letter-spacing: 1.05px; */
  line-height: 50px !important;
  font-weight: bold !important;
}
h5{
  font-size: 32px !important;
  line-height: 44px !important;
}
h6{
  color: #373737 !important;
  font-size: 26px !important;
  line-height: 36px !important;
  font-weight: bold !important;
}

.underline {
  border-bottom: 3px solid #E60000;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.form-control {
  padding: 0.495rem 0.75rem;
}
.password-note{
  font-size: 12px;
}


/*================== button styling ================*/

.btn-primary{
  background-color: #E60000 !important;
  border-radius: 8px !important;
  font-size: 16px !important;
  text-transform: uppercase !important;
  color: #fff !important;
  border: 1px solid #E60000 !important;
  padding: 10px 10px !important;
}
.btn-secondary{
  border-radius: 8px !important;
  font-size: 16px !important;
  text-transform: uppercase !important;
}
.btn-primary:hover{
  background-color: #E60000 !important;
  border: 1px solid #E60000 !important;
}
.primary-link{
  color: #E60000 !important;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  font-weight: normal;
}
.footer-subtitle, .primary-link:hover, .text-blue{
  color: #0095FF !important;
}
.btn-primary-outline, .btn-primary-outline:hover{
  border: 1px solid #E60000;
  color: #E60000;
}
.blue-title{
  letter-spacing: 0.36px;
  font-size: 17px;
}
.btn-success, .btn-success:hover{
  background-color: #0095FF !important;
  border-color: #0095FF !important;
}
.text-purple{
  color: #794F7E;
}


/* =============== navigation styling =================== */

.main-navigation{
  box-shadow: 0px 2px 4px #cecece66 !important;
  z-index: 999 !important;
}

.nav-item a, .btn-primary{
  font-size: 16px !important;
  color: #373737 !important;
  line-height: 18px !important;
  letter-spacing: 0 !important;
  font-weight: normal !important;
}

/*================ footer styling ====================*/


.main-footer, .primary-bg-color{
  background-color: #094259 !important;
}
.download-text{
  font-size: 11px !important;
}
.h-32{
  height: 32px !important;
}
.h-35{
  height: 35px !important;
}
.social-bg{
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 2px solid var(--primary-blue);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #0095FF;
  border-radius: 5px 5px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  width: 26px;
  height: 26px;
}
.social-img{
  transform: scale(0.6) rotate(-45deg);;
}
.download-card{
  width: 200px;
  max-width: 300px;
}

.page-footer a{
  color: #ffffff;
}

/* ================ CTA styling ================ */

.cta{
  background: transparent linear-gradient(290deg, #009CFF 0%, #BA6BFD 48%, #ED1C24 100%) 0% 0% no-repeat padding-box;
  border-radius: 20px;
}
.cta-image-div{
  top: -137px;
}
.cta-row{
  height: 240px;
}


/* ============= list css ============= */

  
.unordered-list ul {
  list-style: none;
}

.unordered-list ul > li {
  clear: left;
  padding: .5rem 0;
  color: #373737;
}
 
.unordered-list ul > li:before {
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  display: block;
  float: left;
  margin-left: -1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.unordered-list ul > li:before { 
  background: url("./Assets/Home_Assets/check_mark.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


/* =================== testimonials slider css */

.testimonials .carousel-control-prev {
  left: 1030px;
}
.testimonials .carousel-control-next {
  right: 150px;
}
.testimonials .carousel-control-next, .carousel-control-prev {
  opacity: 1;
  top: 120px;
  width: 5%;
}
.testimonials .carousel-control-next-icon, .testimonials .carousel-control-prev-icon {
  filter: invert(0);
  fill: white;
  stroke: white;
  color: white;
}
.testimonial-profile{
  color: #E6F8FF;
  font-size: 12px;
}


/* ============= home page css ============== */

.banner-logo {
  min-width: 25px !important;
  max-width: 30px !important;
  min-height: 25px !important;
  max-height: 30px !important;
}

.whats_intime{
  background: transparent linear-gradient(127deg, var(--unnamed-color-094259) 0%, #0865A7 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(127deg, #094259 0%, #0865A7 100%) 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
}
.whats-intime-div{
  left: -110px;
}


/* ================= contact us styling =============== */

.contact-bg{
  background-color: #0D0536;
}
.contact-form-div{
  background-color: #E6F3FF;
}
.custom-hr{
  color: #E6F3FF;
    opacity: 1;
    width: 90%;
}

/* =================== sign in page styling ==================== */

.login-card{
  width: 490px;
  max-width: 500px;
  box-shadow: 0px 8px 10px #00000029;
  border-radius: 20px;
}
.primary-outline{
  border: 1px solid #0095FF;
  border-radius: 5px;
}


.social-login img {
  width: 24px;
}

.email-login {
  display: flex;
  flex-direction: column;
}
.email-login label {
  color: rgb(170 166 166);
}
.login-card a, .login-card p, .login-card label, .faq-accordian .accordion-body p{
  font-size: 14px;
}


/* ================ FAQ page styling ================ */

.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  }
  .search input{
   text-indent: 45px;
  }
  .search .fa-search{
   position: absolute;
   top: 14px;
    left: 47px;
  }

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #373737 !important;
    background-color: #E6F3FF !important;
    padding: 5px 10px !important;
}
.nav-pills .nav-link{
  color: #373737;
  text-align: left;
  padding: 5px 10px;
  margin: 0px 0px 5px 0px;
}
.faq-accordian .accordion-button:not(.collapsed)::after, .faq-accordian .accordion-button::after{
  background-image: none !important;
}

.faq-accordian .accordion-button:not(.collapsed)::before {
  float: right !important;
  font-family: FontAwesome;
  content: "\002D";
  background-color:#0095FF;
  font-size: 26px;
}
.faq-accordian .accordion-button::before {
    content: "\002B";
    background-color: #707070;
    height: 18px;
    padding: 0px 9px;
    display: flex;
    align-items: center;
    width: 10px;
    justify-content: center;
    color: #fff;
    border-radius: 4px;
}
.faq-accordian .accordion-button:not(.collapsed) {
  color: #373737;
  background-color: transparent;
  box-shadow: none;
}
